<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
  <title>Document</title>
</head>

<body>
  <div id="app">
    <!-- {{message}} 
    <p class="coll">你好帅</p>
    <p class="good" v-bind:class="{cool:isGood}">天气真好</p>
    <p class="good" v-bind:class=" isGood ? 'cool' :'notcool' ">天气真好</p>
    <p class="coll" v-bind:class="[activeClass]">你好帅</p>  -->

    <!-- <ul>
      <li v-for="item in todos">{{item.text}}</li>
    </ul> -->

    <!-- <p>{{content}}</p>
    <input type="text" v-model="content"> -->

    <p class="coll" v-on:click="reverseMessage">{{msg}}</p>
  </div>
  <script>
    var app=new Vue({
      el:'#app', //dom结构
      data:{
        // message:'hello world',
        // isGood:true,
        // activeClass:'active',

        // todos:[
        //   {text:'learn Vue'},
        //   {text:'learn JS'},
        //   {text:'learn learn learn'}
        // ]

        // content:''

        msg:'zaizai'
      },
      methods:{
        reverseMessage(){
          console.log(this.data)
          this.msg = this.msg.split('').reverse().join('')
        }
      }
    })
  </script>
</body>

</html>